@charset "UTF-8";

body{
}

:root{

}

.content{
    position: relative;
}

.content .water{
    position: absolute;
    font-size: 8em;
    transform: translate(-50%, -50%);
}

.content .water:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px var(--azulEscuro);
}

.content .water:nth-child(2){
    color: var(--azulEscuro);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%, 100%{
        clip-path: polygon(0 45%, 9%, 49%, 20% 55%, 37%, 59%, 56%, 58%, 70%, 53%, 83% 46%, 95%, 41%, 100%, );
    }
    50%{

    }
}